[Unit]
Description=foobar2k-artwork container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm --name foobar2k-artwork -p 8080:80 foobar2k-artwork
ExecStop=/usr/bin/docker stop -t foobar2k-artwork

[Install]
WantedBy=multi-user.target
